@charset "UTF-8";
@import '../css/normalize.css';
html,
body,
div,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  padding: 0;
  margin: 0;
}
body {
  background: #fff;
  min-width: 320px;
  max-width: 750px;
  color: #505050;
  /* 不允许选中 */
  -webkit-user-select: none;
  user-select: none;
  font-size: 0.26rem;
  /* 去掉默认点击高亮显示 */
  -webkit-tap-highlight-color: transparent;
  /*禁止长按链接与图片弹出菜单*/
  -webkit-touch-callout: none;
  -webkit-overflow-scrolling: touch;
}
i {
  font-style: normal;
}
ul,
ol {
  list-style: none;
}
html,
body,
form,
fieldset,
p,
div,
h1,
h2,
h3,
h4,
h5,
h6 {
  /*阻止旋转屏幕时自动调整字体大小*/
  -webkit-text-size-adjust: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
image,
fieldset {
  border: none;
}
img {
  vertical-align: middle;
}
a:focus,
*:focus {
  outline: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
/*取消按钮在iphone上的默认样式*/
input[type="button"] {
  -webkit-appearance: none;
  outline: none;
}
input::-webkit-input-placeholder {
  /*修改webkit中input的planceholder样式*/
  color: #969;
}
textarea::-webkit-input-placeholder {
  /*修改webkit中input的planceholder样式*/
  color: #969;
}
input:focus::-webkit-input-placeholder {
  color: #969;
}
input::-webkit-input-speech-button {
  display: none;
}
a,
button,
input,
optgroup,
select,
textarea {
  /*去掉a、input和button点击时的蓝色外边框和灰色半透明背景*/
  -webkit-tap-highlight-color: transparent;
  color: inherit;
}
a {
  text-decoration: none;
}
/*单行溢出*/
/*多行溢出*/
/* 参数说明
 * @border-width 指定边框厚度(单位为px)
 * @border-color 指定边框颜色
 * @border-style 指定边框样式
 * @radius 指定边框圆角半径  默认为null
 */
/*单行溢出*/
/*多行溢出*/
.tit {
  color: #000;
  text-align: center;
}
footer {
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
}
footer .item {
  height: 40px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}
footer .item .iconfont {
  font-size: 30px;
}
header {
  position: fixed;
  top: 0;
  width: 100%;
  line-height: 46px;
  height: 46px;
}
.center {
  position: fixed;
  top: 46px;
  bottom: 50px;
  width: 100%;
  overflow-y: auto;
}
.center h4 {
  padding: 15px 0;
  box-sizing: border-box;
}
.center .flow .info {
  display: flex;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  padding: 0 26px;
  box-sizing: border-box;
}
.center .flow .info .iconfont {
  font-size: 33px;
}
.center .flow .info .icon-jiantou2 {
  font-size: 30px;
}
.center .flow .info .inner {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}
.center .flow .serve {
  display: flex;
  padding: 30px 20px 10px;
  box-sizing: border-box;
  justify-content: space-around;
}
.center .flow .serve .online,
.center .flow .serve .call {
  width: 135px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: #23acf3;
  position: relative;
}
.center .flow .serve .online:after,
.center .flow .serve .call:after {
  pointer-events: none;
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  content: "\0020";
  border-color: #23acf3;
  border-style: solid;
  border-width: 1px;
  border-radius: 40px;
  overflow: hidden;
  transform-origin: 0 0;
}
@media screen and (-webkit-min-device-pixel-ratio: 1) {
  .center .flow .serve .online:after,
  .center .flow .serve .call:after {
    width: 100%;
    height: 100%;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 2) {
  .center .flow .serve .online:after,
  .center .flow .serve .call:after {
    width: 200%;
    height: 200%;
    transform: scale(0.5);
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 3) {
  .center .flow .serve .online:after,
  .center .flow .serve .call:after {
    width: 300%;
    height: 300%;
    transform: scale(0.33333);
  }
}
.center .flow .serve .online {
  background-color: #23acf3;
  color: #fff;
  position: relative;
  border-radius: 20px;
}
.center .flow .serve .online:after {
  pointer-events: none;
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  content: "\0020";
  border-color: 0;
  border-style: 0;
  border-width: 0;
  border-radius: 0;
  overflow: hidden;
  transform-origin: 0 0;
}
@media screen and (-webkit-min-device-pixel-ratio: 1) {
  .center .flow .serve .online:after {
    width: 100%;
    height: 100%;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 2) {
  .center .flow .serve .online:after {
    width: 200%;
    height: 200%;
    transform: scale(0.5);
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 3) {
  .center .flow .serve .online:after {
    width: 300%;
    height: 300%;
    transform: scale(0.33333);
  }
}
.center .flow .superiority {
  height: 320px;
  background: url(../img/bg.png) no-repeat bottom right;
  background-size: 166px 166px;
  background-color: #fcfcfc;
}
.center .flow .superiority .bd .content {
  display: flex;
  margin-bottom: 30px;
}
.center .flow .superiority .bd .content .safe {
  font-size: 14px;
}
.center .flow .superiority .bd .content .safe h5 {
  color: #000;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 10px;
}
